<%- include('partials/header.ejs') %>

<div  style="text-align: center; align-items: center;">



<H1 class="titleBlog">MY BLOGS</H1>
<hr>


<%if(locals.blog){%>
<% let c = 1 %>

<%blog.forEach(blog => {%>
 <% if(c==1){ %>

    <div class="cardsummary">
        <div class="image-show"  style="padding: 20px;">
            <h1><%= blog.blog.title %></h1>
            <h3><%= blog.blog.author %></h3>
            <p style="font-size: 80%;"><%= blog.blog.message.substring(1, 100)  %></p>
            <form action="/moreread/" method="post">
             
                <input type="submit"  value="READ MORE">
            </form>
           
        </div>
        <div class="image-show">
            <img src="pictures/pic1.jpg" style="width: 90%;" alt="">
        </div>
        
    </div>
    <hr >
     <% c=0 %>
    <%}else{ %>

        <div class="cardsummary">
            <div class="image-show">
                <img src="pictures/pic2.jpg" style="width: 90%;" alt="">
            </div>
            <div class="image-show" style="padding: 20px;">
                <h1><%= blog.blog.title %></h1>
                <h3><%= blog.blog.author %></h3>
                <p style="font-size: 80%;"><%= blog.blog.message.substring(1, 100) %></p>
                <a href='/moreread/<%=blog.id%>/blog'>read more....</a>
            </div>
       
        </div>
<hr>
        <% c=1 %>
        <%} %>
    <% }); %>

    <%} %>

    
  
    
       

</div>
    <%- include('partials/footer.ejs') %>